[submodule "external/FreeRTOS"]
	path = external/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
